/*! ファイル名を定義する（！を忘れない）
buildOutputFile: 'index';
*/

$page_class: 'page-index';

// =========================================
// Common（共通スタイル）
// =========================================
@use './common';

// -----------------------------------------------------------
//  Section Name: index
// -----------------------------------------------------------

.#{$page_class} {
  h1 {
    text-align: center;
    font-size: 2.2rem;

    @include mq(md) {
      font-size: 4rem;
    }
    // @include areaMaximixe;
  }

  a {
    text-align: center;
    display: block;
    margin-top: 1.6rem;
    font-size: 1.6rem;
    text-decoration: underline;
  }

  img {
    margin-inline: auto;
    display: block;
    margin-top: 16px;
  }
}
