---
import Layout from '@/components/layout/Layout.astro';
---

<style>
  @import './Top.scss';
</style>

<Layout>
  <main>
    <h1>Astro サイトテンプレートです</h1>
    <a href="https://github.com/rik9228/astro_boiler_template/tree/main" target="_blank">リポジトリはこちら</a>
  </main>
</Layout>

<script>
  import { Top } from './Top';
  Top();
</script>
