// ------------------------------------------- SASS Information
//  Name:      Top.scss
//  Description:
//  Author:    Riku Morishita
// -----------------------------------------------------------

// @use '../../../styles/setting/' as *;

h1 {
  text-align: center;
  // @include areaMaximixe;
}

a {
  text-align: center;
  display: block;
  margin-top: 16px;
  text-decoration: underline;
}
