---
interface Props {
  title?: string;
  description?: string;
}

// Import the global style sheet file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/global.scss';

import BaseHead from '@/components/layout/BaseHead/BaseHead.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '@/scripts/consts';
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />

    <script>
      import { fixViewport } from 'src/scripts/util/fixViewport';

      window.addEventListener('resize', fixViewport);
      fixViewport();
    </script>
  </body>
</html>
