---
interface Props {
  title?: string;
  description?: string;
}

// Import the global style sheet file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/global.scss';

import BaseHead from '@/components/layout/BaseHead/BaseHead.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '@/scripts/consts';
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />

    <!-- .astro で 独自に実行する場合は、ファイル名Layout.astro_astro_type_script_index_0_lang.BrJN-ZXM のようなファイル名として生成される。 -->
    <!-- それぞれのページで単純に.ts ファイルを読み込んで実行する場合は、ファイル名.hash.js として生成される。 -->
    <!-- それぞれ１か所の１かしょのページでのみ使用される場合は、ページごとの処理は、直接ビルド後のhtmlファイルにスクリプトが挿入されるが、2か所以上で実行された場合は、別ファイルとして切り出される。 -->

    <!-- <script>
      import { fixViewport } from 'src/scripts/util/fixViewport';

      window.addEventListener('resize', fixViewport);
      fixViewport();
    </script> -->
  </body>
</html>
