---
interface Props {
  title?: string;
  description?: string;
}

import BaseHead from '@/components/base/BaseHead/BaseHead.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '@/scripts/consts';
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
