---
import { SITE_CONFIG } from ':/site';
import Layout from '@/components/layout/Layout.astro';
import '@/styles/index.scss';
import { Image } from 'astro:assets';
import sample from '@/assets/images/sample.jpg';

const PAGE_ID = 'index';
---

<Layout PAGE_ID={PAGE_ID}>
  <main>
    <h1>Astro サイトテンプレートです</h1>
    <div class="">
      <Image src={sample} alt="" />
      <a href="https://github.com/rik9228/astro_boiler_template/tree/main" target="_blank">リポジトリはこちら</a>
    </div>
  </main>
</Layout>
